.lewy{
   width: 40%;
   height: 600px;
   background-color:#FF8989 ; 
}
.prawy{
    width: 60%;
    height: 600px;
    background-color:#7872D9 ;
}
.stopka{
    background-color: black;
    color: white;
    font-size: 150%;
    text-align: right;
}
table{
    margin: 20px;
    padding: 30px;
    border: 2px;
    border-collapse: collapse;
    border-style: solid;
    border-color: brown;
}
td{
    margin: 20px;
    padding: 30px;
    border: 2px;
    border-collapse: collapse;
    border-style: solid;
    border-color: brown;
}
.lewy , .prawy {
    float: left;
}
button{
    margin: 10px;
    padding: 10px;
 border-color: blue;
 background-color: cyan;
 font-size: 20px;
   
}
h1{
    text-align: center;
}
img{
    width: 100px;
}