body{
    font-size: 35px;
    background-color: #def4c6;
    margin: 0%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
#lk{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1b512d;
    
}
#wygrana{
  width: 650px;
  height:400px;
   text-align: center;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b1cf5f;
    background-color: #1c7c54;
    border-radius:100px;
    position: absolute;
    margin: 0%;
    
   
}
#lk{
margin: 0%;
   text-align: center;
   background-color:#b1cf5f;
}
#gameboard {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
width: 100%;}
    
#w1 { order: 1; }
#w2 { order: 2; }
#w3 { order: 3; }
#w4 { order: 4; }
#w5 { order: 5; }
#w6 { order: 6; }
#w7 { order: 7; }
#w8 { order: 8; }
#w9 { order: 9; }
#w10 { order: 10; }
#w11 { order: 11; }
#w12 { order: 12; }
#w13 { order: 13; }
#w14 { order: 14; }
#w15 { order: 15; }
#w16 { order: 16; }
#w17 { order: 17; }
#w18 { order: 18; }
#w19 { order: 19; }
#w0 { order: 20; }

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #b1cf5f 50%, #1c7c54 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }
  
  .bg3 {
    animation-duration:10s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
#display{
  text-align: center;
  background-color:#b1cf5f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1b512d;
  font-weight: bold;
}

h6{
  margin-left: 10px;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  float: left;
}
#win{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90%, 50%);
}
button{
background-color:#b1cf5f ;
border:6px solid #1b512d  ;
color: #1b512d;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
font-weight: bold;
border-radius: 100px;
width: 250px;
height: 80px;
 
}
#main{
  position: absolute;
 
}
img {
  width:140px;
  position: absolute;
  bottom: 140px;;
  
}
