
body{margin:0px;}
.menu{
    background-color: rgb(57, 180, 107);
    text-align: center;
    font-size:150%;
    
    height:240px;
    
}
.glowny{
    height: 300px;

}
.stopka{
    background-color: rgb(57,180,107);
    color:white;
    text-align: center;
    font-size: 150%;
}
a { 
    color:white;
}
.button{
    background-color: green;
    border: green;
    font-weight: bold;
    padding: 15px;
    color: white;
    
}
h1 {
    color:rgb(27, 163, 82) ;
    margin-left: 10px;
    font-size: 150%;
}
div,div,div,div {
    margin:127px ;
    display: inline;
}
img {
    float: left;
    margin-top: -10px;
}
p{margin-left:10px ;}

input{
    margin-left: 10px;
}
.button{margin-left:10px;}

