
.lewy{
    width:40%;
    height:600px;
    background-color: #ff8989;
    float: left;

}
.prawy{
    width: 60%;
    height: 600px;
    background-color: #7872d9;
    float: right;
}
.stopka{
    background-color: black;
    color:white;
    text-align: right;
    font-size: 150%; 
}
table,tr,td{
    margin:20px;
    padding:30px;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    
    
}
.button{
    background-color: cyan;
    font-size: 20px;
    border-color: blue;
    margin: 15px;
    padding:10px;
}


