.baner{
    background-color: rgb(255,213,162);
    text-align: center;
    padding: 20px;
}

.menu {
   background-color: rgb(191,112,17);
   color:white;
   text-align: right;
   font-size:150%;
}
a {
    color:white;} 
    .stopka{
        background-color: rgb(191, 112,17);
        color:white;
        text-align: right;
        font-size: 150%;
    } 

.button{
    background-color: brown;
    color:white;
    border-color: brown;
    border-width:2px;
    font-weight: bold;
    padding:10px;
    
}
div,div,div,div {
    display: inline;
    margin:150px;
}
.glowny{
    height:400px;
}