.baner{
    background-image: url(menu.jpg);
	color: blue;
	height: 200px;
}
.lewy {
    background-color: rgb(255, 218, 65);
    text-align: center;
    width: 40%;
    height: 400px;
}
.sro{
    background-color: rgb(225, 226,100);
    text-align: center;
    width: 30%;
    height: 400px;
}
.prawy{
    background-color: rgb(255,233,143);
    text-align: center;
    width: 30%;
    height: 400px;
}
.stopka{
    background-color: rgb(255, 218, 65);
    color: blue;
}
a{
    color:green;
}
p{
    font-size: 130%;
}
.lewy , .sro , .prawy{
    float: left;
}