body{
    background-color: #222222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(248, 42, 138);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #0073e6, 0 0 35px #0073e6;
    animation: blinker 1s linear infinite;
  }
  
  #gameboard td {
    padding:0px ;
    border: 4px solid rgb(248, 181, 231);
    border-left:none;
    border-bottom:none;
    font-size: 100px;
    
    
  }
  #gameboard {
    border-collapse: collapse;
    position: absolute;
    width: 450px;
    height:450px;
    margin-top: 40px;
   
  
    
  }
  body {
  margin: 0;
  padding: 0;
  background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  
  .block {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  width: 1150px;
  height: 750px;
  background: linear-gradient(0deg, #000, #272727);
  }
  
  .block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #ff00b3, #ff09d6,#f894e7, #ff00c8, #fb0094, 
    #ed02f5, #ea00ff,#ff0077, #ff0077);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
    animation: steam 20s linear infinite;
    
  }
  
  @keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
  }
  
  .block:after {
  filter: blur(50px);
  }
  .tb{
    position: absolute;
    margin-left:350px;
    margin-right: auto;
  
  }
  
  .bu{
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #gameboard td{
    width: 100px;
    box-shadow: 12px 12px 24px black;
    
  
  }
  .wrap {
    height: 100%;
   
    
    
    
    
  
  }
  
  .button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: rgb(228, 92, 126);
  background: linear-gradient(90deg,  0%, white 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px black;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(243, 197, 205);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  td:hover , td:focus {
  background-color: rgb(248, 181, 231);;
  opacity: 5;
  }
  t
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
  .wrap  {
   float: left;
   text-align: left;
  
  }
  #score1 , #score2{
  float: left;
  margin-left: 25px;
  }
  #info {
    text-align: center;
    position: absolute;
    left:400px;
    bottom: 636px;
    
  }