.baner {
    background-color: #08826A;
    height: 60px;
    font-family: Verdana;
    text-align: center;
}
.lewy {
    height: 550px;
    background-color: #1E9880;
    width: 30%;
}
.prawy {
    background-color: #9AC8BF;
    height: 550px;
    width: 70%;
    text-align: center;
}
.stopka{
    background-color: #08826A;
    font-family: Verdana;
    color: white;
    text-align: right;
}
.lewy{
    float: left;
}
a{
    color: white;
}
.table{
    margin: 20px;
    width: 80%;
    border: 1px solid;
    border-collapse: collapse;
}
td{
    border: 1px solid;
}
th:hover , td:hover{
    color: green;
    background-color: #1E9880;
}